body {
  text-align: center;
  background-color: #282c34;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.pokemon-card {
  border: 2px solid #bbb;
  border-radius: 20px;
  width: 300px;
  
  img{
    width: 200px;
  }
}